.menu{
  overflow: hidden;
  position: sticky;
  top: 0;
  left: 0;
  backgraund-color: #a0d8efcc;
}

.menu ul{
  width: 2em;
  height: 3em;
  display: flex;
}

.menu li{
  float: left;
  list-style: none;
}

.menu li button{
  color: #3030ff;
  font-weight: bold;
  width: 3en;
  height: 1.5en;
  font-size: 1.5em;
  border-radius: 0;
}

.menu li a{
  color: #3030ff;
  text-decoration-line: none;
  font-weight: bold;
  width: 3en;
  height: 1.5en;
  font-size: 1.5em;
  border-radius: 0;
  display: block;
  margin-right: 1.5em;
}

.homebutton{
  width: 3en;
  height: 1.5en;
  font-size: 1.5em;
}
